* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
p{
    font-size: x-large;
}
.textos{
        font-family: $fontTexto;
        font-size: xx-large;
    }
.subtitulos{
        text-align: center;
        background-color: $colorOscuro;
        color:$colorClaro;
        margin:0;
    }
.titulos{
        text-align: center;
        background-color: $colorOscuro;
        color: $colorClaro;
        font-family: $fontTitulo;
    }
.background{
        background-color: $colorClaro;
    }
.disabled{
    display: none;
}
body::selection {
    background: $colorOscuro;
    color: $colorClaro;
  }
body::-moz-selection {
    background: $colorOscuro;
    color: $colorClaro;
}
@include desktop{
    .mobile-header{
        display: none;
    }
    .mobile-menu{
        display: none;
    }
    .copy-mobile{
        display: none;
    }
    .menuitem:hover {
        text-decoration: underline double;
    }
}
@include mobile{
    .textos{
        font-family: $fontTexto;
        font-size: x-large;
    }
    .copy-desktop{
        display: none;
    }
    .desktop-menu{
        display: none;
    }
    .mobile-menu{
        visibility: hidden;
        opacity: 0;
        z-index: 1;
    }
    .mobile-menu.visible {
        opacity: 1;
        visibility: visible;
        z-index: 1;
        main{
            display: none;
        }
    }
}